@use "../helpers" as *;

.header {
  //   background-color: var(--color-accent);
  background-image: url(../image/bg-header.webp);
  margin: rem(-8.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__adress {
    color: var(--color-gray);
    font-family:
      "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 700;
  }

  &__top-info {
    display: flex;
    padding-top: rem(12);
  }

  &__menu {

    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(10);
      padding-left: rem(200);
    }

    &-list_right{
      display: flex;
      align-items: center;
      column-gap: rem(10);
      color: var(--color-gray);
    }

    &-item {
      cursor: pointer;
      white-space: nowrap;
      margin-top: -12px;
    }

    &-link {
      padding: rem(3) rem(10);
      font-weight: 600;
      color: var(--color-light);
      font-size: 12px;
    }
  }
  &__top_valute {
    color: var(--color-light);
    padding-top: rem(5);
    
  }
  &__main-data{
    display: flex;
    padding-bottom: rem(25);
  }
  &__search {
    width: rem(830);
    margin-left: rem(15);
    border-radius: rem(15);
    border: none;
    padding: rem(17) rem(100) rem(17) rem(20);
    font-size: 18px;
    line-height: 24px;
    outline: none;
  }
  &__adressa{
    color: #fff9;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    column-gap: rem(20);
    margin-left: rem(20);
  }
  &__icon_location_light{
   width: rem(30);
   margin: auto rem(5);
  }
}
