@use '../helpers' as *;

.hero {

    
    &__twoblock{

    padding-top: rem(100);
    display: grid;
    grid-template-columns: repeat(2, minmax(rem(200), 1fr));
    
    @include mobile {
        grid-template-columns: repeat(1, minmax(rem(160), 1fr));
    }
    }

    &__left{
        &-block{
           max-width: rem(394);
        }
        &-mainphoto{
            background-image: url(../image/iphone.jpg);
            width: 100%;
            height: 100%;
            max-height: rem(525);
            background-size:contain ;
            background-repeat: no-repeat;
        }

        &-botphoto {
           display: flex;
           justify-content: center;
           padding: rem(10) rem(0);
        }

        &-botphoto1{
            background-image: url(../image/iphone.jpg);
            width: 100%;
            height: 100%;
            max-width: rem(65);
            min-height: rem(65);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &__right{

        &-miniblock{
            width: rem(525);
            height: rem(320);
            background-color: var(--color-gray-light);
            border-radius: rem(20);
            margin-top: rem(48);
            padding-left: rem(20);
        }

        &-esim{
            padding-top: rem(10);
        }

        &-sim{
            font-size: rem(20);
        }
        &-link{
            font-size: rem(14);
        }
        &-list {
            padding-left: 1.2em; // чтобы маркеры не прилипали
        }
        &-list li::marker {
            color: #a100ff;      // фиолетовый цвет маркера
            font-size: rem(25);    // увеличиваем размер кружка
        }

        &-payment {
            margin: 0;
            margin-top: rem(40);
        }

       
    }

} 